@{
    ViewBag.Title = "Домашняя страница";
}
<div class="top-grids">
    <div class="content-wrapper">
        <h2>Швидкість,</h2>
        <h2 style="margin-left: 65px;">комфорт,</h2>
        <h2 style="margin-left: 120px;">зручність!</h2>
    </div>
    
</div>
